{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perspiciatis repudiandae nihil, sapiente illum placeat nulla veniam porro eveniet temporibus minima? Iure, natus ea. Reiciendis tenetur dolor aliquam corporis itaque?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio voluptatem quia tempore similique excepturi hic eaque illum iste quis tempora quae, doloribus delectus voluptatum, cum libero eius, doloremque repellendus!</p>
                <a href="/about">About Page</a>
            </div>
        </div>
        
    </div>
{{end}}
